--
-- PostgreSQL database dump
--

\restrict l1nA2DlIkwFiudb2j1ev6KCMgeCed9vs3avay6plJ9Jfh2DUazie5ZwqDI8fooI

-- Dumped from database version 18.0
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: drizzle; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA drizzle;


ALTER SCHEMA drizzle OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: __drizzle_migrations; Type: TABLE; Schema: drizzle; Owner: postgres
--

CREATE TABLE drizzle.__drizzle_migrations (
    id integer NOT NULL,
    hash text NOT NULL,
    created_at bigint
);


ALTER TABLE drizzle.__drizzle_migrations OWNER TO postgres;

--
-- Name: __drizzle_migrations_id_seq; Type: SEQUENCE; Schema: drizzle; Owner: postgres
--

CREATE SEQUENCE drizzle.__drizzle_migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE drizzle.__drizzle_migrations_id_seq OWNER TO postgres;

--
-- Name: __drizzle_migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: drizzle; Owner: postgres
--

ALTER SEQUENCE drizzle.__drizzle_migrations_id_seq OWNED BY drizzle.__drizzle_migrations.id;


--
-- Name: accounts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.accounts (
    account_id character varying DEFAULT gen_random_uuid() NOT NULL,
    council_id character varying NOT NULL,
    holder_type text NOT NULL,
    holder_id character varying NOT NULL,
    account_no text NOT NULL,
    status text DEFAULT 'active'::text NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.accounts OWNER TO postgres;

--
-- Name: assets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.assets (
    asset_id character varying DEFAULT gen_random_uuid() NOT NULL,
    council_id character varying NOT NULL,
    asset_no text NOT NULL,
    name text NOT NULL,
    type text NOT NULL,
    location text,
    condition text,
    value text,
    status text DEFAULT 'active'::text,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.assets OWNER TO postgres;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_logs (
    audit_id character varying DEFAULT gen_random_uuid() NOT NULL,
    council_id character varying NOT NULL,
    user_id character varying,
    action text NOT NULL,
    entity_type text NOT NULL,
    entity_id character varying,
    before_state jsonb,
    after_state jsonb,
    ip_address text,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.audit_logs OWNER TO postgres;

--
-- Name: business_verification_requests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.business_verification_requests (
    request_id character varying DEFAULT gen_random_uuid() NOT NULL,
    business_id character varying NOT NULL,
    council_id character varying NOT NULL,
    status text DEFAULT 'pending'::text NOT NULL,
    submitted_at timestamp without time zone DEFAULT now() NOT NULL,
    reviewed_at timestamp without time zone,
    reviewed_by character varying,
    comments text
);


ALTER TABLE public.business_verification_requests OWNER TO postgres;

--
-- Name: businesses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.businesses (
    business_id character varying DEFAULT gen_random_uuid() NOT NULL,
    council_id character varying NOT NULL,
    registration_no text,
    tin text,
    legal_name text NOT NULL,
    trading_name text,
    business_type text,
    industry text,
    owner_name text,
    owner_user_id character varying,
    contact_phone text,
    contact_email text,
    physical_address text,
    section text,
    lot text,
    suburb text,
    status text DEFAULT 'pending_verification'::text,
    is_foreign_enterprise boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    block text,
    village text,
    district text,
    province text,
    latitude real,
    longitude real
);


ALTER TABLE public.businesses OWNER TO postgres;

--
-- Name: checklist_requirements; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.checklist_requirements (
    id character varying DEFAULT gen_random_uuid() NOT NULL,
    license_type_id character varying NOT NULL,
    item_number integer NOT NULL,
    document_name text NOT NULL,
    responsible_entity text,
    requirement_note text,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.checklist_requirements OWNER TO postgres;

--
-- Name: citizens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.citizens (
    citizen_id character varying DEFAULT gen_random_uuid() NOT NULL,
    council_id character varying NOT NULL,
    national_id text,
    local_citizen_no text,
    first_name text NOT NULL,
    last_name text NOT NULL,
    dob date,
    sex text,
    phone text,
    email text,
    address text,
    village text,
    district text,
    province text,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    section text,
    lot text,
    block text,
    suburb text,
    nationality text
);


ALTER TABLE public.citizens OWNER TO postgres;

--
-- Name: complaint_updates; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.complaint_updates (
    update_id character varying DEFAULT gen_random_uuid() NOT NULL,
    council_id character varying NOT NULL,
    complaint_id character varying NOT NULL,
    updated_by character varying,
    status text,
    comment text,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.complaint_updates OWNER TO postgres;

--
-- Name: complaints; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.complaints (
    complaint_id character varying DEFAULT gen_random_uuid() NOT NULL,
    council_id character varying NOT NULL,
    complainant_type text,
    complainant_id character varying,
    category text,
    status text DEFAULT 'new'::text NOT NULL,
    description text,
    latitude numeric(10,7),
    longitude numeric(10,7),
    location text,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.complaints OWNER TO postgres;

--
-- Name: council_units; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.council_units (
    unit_id character varying DEFAULT gen_random_uuid() NOT NULL,
    council_id character varying NOT NULL,
    name text NOT NULL,
    type text NOT NULL,
    parent_unit_id character varying
);


ALTER TABLE public.council_units OWNER TO postgres;

--
-- Name: councils; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.councils (
    council_id character varying DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    level text NOT NULL,
    country_code character(2) DEFAULT 'PG'::bpchar NOT NULL,
    currency_code character(3) DEFAULT 'PGK'::bpchar NOT NULL,
    timezone text DEFAULT 'Pacific/Port_Moresby'::text NOT NULL,
    status text DEFAULT 'active'::text NOT NULL,
    logo_url text,
    theme_color text DEFAULT '#EAB308'::text,
    font_family text DEFAULT 'Inter'::text,
    email text,
    phone text,
    website text,
    address text,
    date_format text DEFAULT 'dd/MM/yyyy'::text,
    time_format text DEFAULT 'HH:mm'::text,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.councils OWNER TO postgres;

--
-- Name: documents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.documents (
    document_id character varying DEFAULT gen_random_uuid() NOT NULL,
    council_id character varying NOT NULL,
    owner_type text NOT NULL,
    owner_id character varying NOT NULL,
    type text NOT NULL,
    file_name text NOT NULL,
    file_path text NOT NULL,
    mime_type text NOT NULL,
    file_size integer NOT NULL,
    verified boolean DEFAULT false,
    verified_at timestamp without time zone,
    verified_by character varying,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    rejection_reason text,
    status text DEFAULT 'pending'::text
);


ALTER TABLE public.documents OWNER TO postgres;

--
-- Name: dynamic_locations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dynamic_locations (
    location_id uuid DEFAULT gen_random_uuid() NOT NULL,
    council_id character varying NOT NULL,
    level text NOT NULL,
    level_index text NOT NULL,
    name text NOT NULL,
    code text,
    parent_id uuid,
    latitude text,
    longitude text,
    bounds jsonb,
    is_active text DEFAULT 'true'::text,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.dynamic_locations OWNER TO postgres;

--
-- Name: enforcement_cases; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.enforcement_cases (
    case_id character varying DEFAULT gen_random_uuid() NOT NULL,
    council_id character varying NOT NULL,
    request_id character varying,
    case_no text NOT NULL,
    type text,
    status text DEFAULT 'open'::text,
    offender_type text,
    offender_id character varying,
    description text,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.enforcement_cases OWNER TO postgres;

--
-- Name: fee_schedules; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.fee_schedules (
    fee_id character varying DEFAULT gen_random_uuid() NOT NULL,
    council_id character varying NOT NULL,
    service_id character varying NOT NULL,
    name text NOT NULL,
    basis text NOT NULL,
    amount numeric(12,2) NOT NULL,
    currency character(3) DEFAULT 'PGK'::bpchar NOT NULL,
    valid_from date NOT NULL,
    valid_to date
);


ALTER TABLE public.fee_schedules OWNER TO postgres;

--
-- Name: inspection_evidence; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inspection_evidence (
    evidence_id character varying DEFAULT gen_random_uuid() NOT NULL,
    council_id character varying NOT NULL,
    inspection_id character varying NOT NULL,
    media_type text,
    url text,
    hash text,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.inspection_evidence OWNER TO postgres;

--
-- Name: inspection_findings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inspection_findings (
    finding_id character varying DEFAULT gen_random_uuid() NOT NULL,
    council_id character varying NOT NULL,
    inspection_id character varying NOT NULL,
    code text,
    severity text,
    description text,
    corrective_action text,
    due_date date
);


ALTER TABLE public.inspection_findings OWNER TO postgres;

--
-- Name: inspections; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inspections (
    inspection_id character varying DEFAULT gen_random_uuid() NOT NULL,
    council_id character varying NOT NULL,
    request_id character varying,
    inspector_user_id character varying,
    scheduled_at timestamp without time zone,
    performed_at timestamp without time zone,
    result text,
    remarks text,
    latitude numeric(10,7),
    longitude numeric(10,7),
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.inspections OWNER TO postgres;

--
-- Name: integration_configs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.integration_configs (
    config_id character varying DEFAULT gen_random_uuid() NOT NULL,
    council_id character varying NOT NULL,
    name text NOT NULL,
    type text NOT NULL,
    status text DEFAULT 'disconnected'::text,
    last_sync_at timestamp without time zone,
    description text,
    details jsonb,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.integration_configs OWNER TO postgres;

--
-- Name: invoice_lines; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.invoice_lines (
    line_id character varying DEFAULT gen_random_uuid() NOT NULL,
    council_id character varying NOT NULL,
    invoice_id character varying NOT NULL,
    description text,
    quantity integer DEFAULT 1,
    unit_price numeric(12,2),
    line_total numeric(12,2)
);


ALTER TABLE public.invoice_lines OWNER TO postgres;

--
-- Name: invoices; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.invoices (
    invoice_id character varying DEFAULT gen_random_uuid() NOT NULL,
    council_id character varying NOT NULL,
    account_id character varying NOT NULL,
    invoice_no text NOT NULL,
    total_amount numeric(12,2) NOT NULL,
    currency character(3) DEFAULT 'PGK'::bpchar NOT NULL,
    status text DEFAULT 'draft'::text NOT NULL,
    issued_at timestamp without time zone,
    due_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.invoices OWNER TO postgres;

--
-- Name: licence_renewals; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.licence_renewals (
    renewal_id character varying DEFAULT gen_random_uuid() NOT NULL,
    council_id character varying NOT NULL,
    licence_id character varying NOT NULL,
    request_id character varying,
    previous_expiry_date date,
    new_expiry_date date,
    renewed_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.licence_renewals OWNER TO postgres;

--
-- Name: licences; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.licences (
    licence_id character varying DEFAULT gen_random_uuid() NOT NULL,
    council_id character varying NOT NULL,
    request_id character varying NOT NULL,
    licence_no text NOT NULL,
    issue_date date,
    expiry_date date,
    status text DEFAULT 'active'::text NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    licence_payload_hash text,
    pdf_hash text,
    signed_pdf_hash text,
    signature_metadata jsonb,
    version integer DEFAULT 1
);


ALTER TABLE public.licences OWNER TO postgres;

--
-- Name: license_type_fees; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.license_type_fees (
    id character varying(255) DEFAULT gen_random_uuid() NOT NULL,
    license_type_id character varying(255) NOT NULL,
    amount numeric(12,2) NOT NULL,
    currency text DEFAULT 'PGK'::text NOT NULL,
    effective_date timestamp without time zone DEFAULT now() NOT NULL,
    active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.license_type_fees OWNER TO postgres;

--
-- Name: license_types; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.license_types (
    id character varying DEFAULT gen_random_uuid() NOT NULL,
    license_name text NOT NULL,
    license_category text NOT NULL,
    application_form text,
    description text,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.license_types OWNER TO postgres;

--
-- Name: location_levels; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.location_levels (
    id character varying DEFAULT gen_random_uuid() NOT NULL,
    council_id character varying NOT NULL,
    name text NOT NULL,
    level integer NOT NULL,
    description text,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.location_levels OWNER TO postgres;

--
-- Name: locations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.locations (
    id character varying DEFAULT gen_random_uuid() NOT NULL,
    council_id character varying NOT NULL,
    level_id character varying NOT NULL,
    code text NOT NULL,
    parent_id character varying,
    boundary jsonb,
    centroid text,
    status text DEFAULT 'active'::text,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.locations OWNER TO postgres;

--
-- Name: markets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.markets (
    market_id character varying DEFAULT gen_random_uuid() NOT NULL,
    council_id character varying NOT NULL,
    name text NOT NULL,
    location text,
    capacity integer,
    operating_hours text,
    status text DEFAULT 'active'::text,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.markets OWNER TO postgres;

--
-- Name: notices; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notices (
    notice_id character varying DEFAULT gen_random_uuid() NOT NULL,
    council_id character varying NOT NULL,
    case_id character varying NOT NULL,
    notice_no text NOT NULL,
    notice_type text,
    issued_date date,
    compliance_due date,
    details text,
    status text DEFAULT 'issued'::text,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.notices OWNER TO postgres;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    notification_id character varying DEFAULT gen_random_uuid() NOT NULL,
    council_id character varying NOT NULL,
    user_id character varying NOT NULL,
    type text NOT NULL,
    title text NOT NULL,
    message text NOT NULL,
    reference_type text,
    reference_id character varying,
    read boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: otp_verifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.otp_verifications (
    id character varying DEFAULT gen_random_uuid() NOT NULL,
    identifier text NOT NULL,
    code text NOT NULL,
    type text NOT NULL,
    expires_at timestamp without time zone NOT NULL,
    verified boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.otp_verifications OWNER TO postgres;

--
-- Name: payment_allocations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.payment_allocations (
    allocation_id character varying DEFAULT gen_random_uuid() NOT NULL,
    council_id character varying NOT NULL,
    payment_id character varying NOT NULL,
    invoice_id character varying NOT NULL,
    allocated_amount numeric(12,2) NOT NULL
);


ALTER TABLE public.payment_allocations OWNER TO postgres;

--
-- Name: payments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.payments (
    payment_id character varying DEFAULT gen_random_uuid() NOT NULL,
    council_id character varying NOT NULL,
    account_id character varying NOT NULL,
    payment_ref text NOT NULL,
    amount numeric(12,2) NOT NULL,
    currency character(3) DEFAULT 'PGK'::bpchar NOT NULL,
    method text NOT NULL,
    provider text,
    status text DEFAULT 'pending'::text NOT NULL,
    external_reference text,
    payment_details jsonb,
    paid_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.payments OWNER TO postgres;

--
-- Name: permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.permissions (
    permission_code text NOT NULL,
    description text NOT NULL
);


ALTER TABLE public.permissions OWNER TO postgres;

--
-- Name: properties; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.properties (
    property_id character varying DEFAULT gen_random_uuid() NOT NULL,
    council_id character varying NOT NULL,
    parcel_id text,
    section text,
    lot text,
    allotment text,
    suburb text,
    district text,
    land_type text,
    title_number text,
    owner_name text,
    owner_type text,
    land_area text,
    zoning text,
    rateable_value numeric(12,2),
    coordinates text,
    status text DEFAULT 'active'::text,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.properties OWNER TO postgres;

--
-- Name: purchase_order_lines; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.purchase_order_lines (
    line_id character varying DEFAULT gen_random_uuid() NOT NULL,
    order_id character varying NOT NULL,
    description text NOT NULL,
    quantity integer DEFAULT 1 NOT NULL,
    unit_price numeric(12,2) NOT NULL,
    line_total numeric(12,2) NOT NULL
);


ALTER TABLE public.purchase_order_lines OWNER TO postgres;

--
-- Name: purchase_orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.purchase_orders (
    order_id character varying DEFAULT gen_random_uuid() NOT NULL,
    council_id character varying NOT NULL,
    vendor_id character varying NOT NULL,
    requestor_id character varying,
    order_date date DEFAULT now(),
    expected_date date,
    status text DEFAULT 'draft'::text,
    total_amount numeric(12,2) DEFAULT '0'::numeric,
    currency character(3) DEFAULT 'PGK'::bpchar,
    description text,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.purchase_orders OWNER TO postgres;

--
-- Name: rate_assessments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rate_assessments (
    assessment_id character varying DEFAULT gen_random_uuid() NOT NULL,
    council_id character varying NOT NULL,
    property_id character varying NOT NULL,
    assessment_year integer NOT NULL,
    rateable_value numeric(12,2),
    rate_amount numeric(12,2),
    status text DEFAULT 'pending'::text,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.rate_assessments OWNER TO postgres;

--
-- Name: role_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.role_permissions (
    role_id character varying NOT NULL,
    permission_code text NOT NULL
);


ALTER TABLE public.role_permissions OWNER TO postgres;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.roles (
    role_id character varying DEFAULT gen_random_uuid() NOT NULL,
    council_id character varying NOT NULL,
    name text NOT NULL,
    scope text DEFAULT 'council'::text NOT NULL
);


ALTER TABLE public.roles OWNER TO postgres;

--
-- Name: service_requests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.service_requests (
    request_id character varying DEFAULT gen_random_uuid() NOT NULL,
    council_id character varying NOT NULL,
    service_id character varying NOT NULL,
    requester_type text NOT NULL,
    requester_id character varying NOT NULL,
    status text DEFAULT 'draft'::text NOT NULL,
    channel text DEFAULT 'web'::text NOT NULL,
    form_data jsonb,
    submitted_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    processing_data jsonb,
    request_ref text,
    reviewed_at timestamp without time zone,
    inspected_at timestamp without time zone,
    approved_at timestamp without time zone
);


ALTER TABLE public.service_requests OWNER TO postgres;

--
-- Name: services; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.services (
    service_id character varying DEFAULT gen_random_uuid() NOT NULL,
    council_id character varying NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    category text NOT NULL,
    description text,
    requires_inspection boolean DEFAULT false,
    requires_approval boolean DEFAULT true,
    active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.services OWNER TO postgres;

--
-- Name: special_requirements; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.special_requirements (
    id character varying DEFAULT gen_random_uuid() NOT NULL,
    license_type_id character varying NOT NULL,
    requirement_name text NOT NULL,
    issuing_authority text,
    description text,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.special_requirements OWNER TO postgres;

--
-- Name: stalls; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stalls (
    stall_id character varying DEFAULT gen_random_uuid() NOT NULL,
    council_id character varying NOT NULL,
    market_id character varying NOT NULL,
    stall_no text NOT NULL,
    category text,
    size text,
    daily_rate numeric(10,2),
    monthly_rate numeric(10,2),
    status text DEFAULT 'available'::text,
    current_tenant_id character varying,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.stalls OWNER TO postgres;

--
-- Name: tenant_config; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tenant_config (
    config_id uuid DEFAULT gen_random_uuid() NOT NULL,
    council_id character varying NOT NULL,
    council_name text,
    short_name text,
    logo_url text,
    favicon_url text,
    tagline text,
    primary_color text DEFAULT '#1e40af'::text,
    secondary_color text DEFAULT '#7c3aed'::text,
    accent_color text DEFAULT '#f59e0b'::text,
    background_root_color text DEFAULT '#EBECED'::text,
    background_default_color text DEFAULT '#FCFCFC'::text,
    background_higher_color text DEFAULT '#F0F1F2'::text,
    foreground_default_color text DEFAULT '#07080A'::text,
    foreground_dimmer_color text DEFAULT '#3D4047'::text,
    outline_color text DEFAULT '#C0C3C4'::text,
    primary_foreground text,
    positive_color text DEFAULT '#10b981'::text,
    warning_color text DEFAULT '#f59e0b'::text,
    negative_color text DEFAULT '#ef4444'::text,
    sidebar_background text,
    sidebar_foreground text,
    header_background text,
    header_foreground text,
    card_background text,
    border_radius integer DEFAULT 4,
    button_radius integer DEFAULT 4,
    card_radius integer DEFAULT 8,
    input_radius integer DEFAULT 4,
    font_family text DEFAULT 'Inter'::text,
    location_levels jsonb DEFAULT '["Country", "Province", "District", "Ward"]'::jsonb,
    locale text DEFAULT 'en-PG'::text,
    timezone text DEFAULT 'Pacific/Port_Moresby'::text,
    date_format text DEFAULT 'DD/MM/YYYY'::text,
    time_format text DEFAULT 'HH:mm'::text,
    first_day_of_week text DEFAULT 'monday'::text,
    currency text DEFAULT 'PGK'::text,
    currency_symbol text DEFAULT 'K'::text,
    currency_position text DEFAULT 'before'::text,
    decimal_separator text DEFAULT '.'::text,
    thousands_separator text DEFAULT ','::text,
    address text,
    phone text,
    email text,
    website text,
    emergency_contact text,
    facebook text,
    twitter text,
    linkedin text,
    enable_multi_language text DEFAULT 'false'::text,
    supported_languages jsonb DEFAULT '["en"]'::jsonb,
    enabled_modules jsonb DEFAULT '["registry", "licensing", "services", "payments", "portal"]'::jsonb,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.tenant_config OWNER TO postgres;

--
-- Name: user_roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_roles (
    user_id character varying NOT NULL,
    role_id character varying NOT NULL,
    assigned_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.user_roles OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    user_id character varying DEFAULT gen_random_uuid() NOT NULL,
    council_id character varying NOT NULL,
    unit_id character varying,
    full_name text NOT NULL,
    email text NOT NULL,
    phone text,
    password_hash text NOT NULL,
    status text DEFAULT 'active'::text NOT NULL,
    mfa_enabled boolean DEFAULT false,
    last_login_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    role text DEFAULT 'user'::text NOT NULL,
    national_id text
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: workflow_definitions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.workflow_definitions (
    workflow_id character varying DEFAULT gen_random_uuid() NOT NULL,
    council_id character varying NOT NULL,
    service_id character varying NOT NULL,
    version text DEFAULT '1.0'::text NOT NULL,
    name text,
    description text,
    active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.workflow_definitions OWNER TO postgres;

--
-- Name: workflow_instances; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.workflow_instances (
    instance_id character varying DEFAULT gen_random_uuid() NOT NULL,
    council_id character varying NOT NULL,
    request_id character varying NOT NULL,
    workflow_id character varying NOT NULL,
    state text DEFAULT 'pending'::text NOT NULL,
    current_step_id character varying,
    started_at timestamp without time zone DEFAULT now(),
    ended_at timestamp without time zone
);


ALTER TABLE public.workflow_instances OWNER TO postgres;

--
-- Name: workflow_steps; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.workflow_steps (
    step_id character varying DEFAULT gen_random_uuid() NOT NULL,
    council_id character varying NOT NULL,
    workflow_id character varying NOT NULL,
    name text NOT NULL,
    order_no integer NOT NULL,
    assignee_role text,
    sla_rule text,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.workflow_steps OWNER TO postgres;

--
-- Name: __drizzle_migrations id; Type: DEFAULT; Schema: drizzle; Owner: postgres
--

ALTER TABLE ONLY drizzle.__drizzle_migrations ALTER COLUMN id SET DEFAULT nextval('drizzle.__drizzle_migrations_id_seq'::regclass);


--
-- Data for Name: __drizzle_migrations; Type: TABLE DATA; Schema: drizzle; Owner: postgres
--

COPY drizzle.__drizzle_migrations (id, hash, created_at) FROM stdin;
\.


--
-- Data for Name: accounts; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: assets; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: business_verification_requests; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.business_verification_requests (request_id, business_id, council_id, status, submitted_at, reviewed_at, reviewed_by, comments) FROM stdin;
\.


--
-- Data for Name: businesses; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: checklist_requirements; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: citizens; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: complaint_updates; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.complaint_updates (update_id, council_id, complaint_id, updated_by, status, comment, created_at) FROM stdin;
\.


--
-- Data for Name: complaints; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: council_units; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.council_units (unit_id, council_id, name, type, parent_unit_id) FROM stdin;
\.


--
-- Data for Name: councils; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.councils (council_id, name, level, country_code, currency_code, timezone, status, logo_url, theme_color, font_family, email, phone, website, address, date_format, time_format, created_at) FROM stdin;
3c4d4a9f-92a7-4dd2-82fb-ceff90c57094	National Capital District Commission	city	PG	PGK	Pacific/Port_Moresby	active	\N	#EAB308	Inter	\N	\N	\N	\N	dd/MM/yyyy	HH:mm	2026-01-20 10:55:51.673331
3c4d4a9f-92a7-4dd2-82fb-ceff0d9880e3	National Capital District Commission	city	PG	PGK	Pacific/Port_Moresby	active	\N	#EAB308	Inter	\N	\N	\N	\N	dd/MM/yyyy	HH:mm	2026-01-20 10:55:51.704364
\.


--
-- Data for Name: documents; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: dynamic_locations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: enforcement_cases; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.enforcement_cases (case_id, council_id, request_id, case_no, type, status, offender_type, offender_id, description, created_at) FROM stdin;
\.


--
-- Data for Name: fee_schedules; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.fee_schedules (fee_id, council_id, service_id, name, basis, amount, currency, valid_from, valid_to) FROM stdin;
\.


--
-- Data for Name: inspection_evidence; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.inspection_evidence (evidence_id, council_id, inspection_id, media_type, url, hash, created_at) FROM stdin;
\.


--
-- Data for Name: inspection_findings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.inspection_findings (finding_id, council_id, inspection_id, code, severity, description, corrective_action, due_date) FROM stdin;
\.


--
-- Data for Name: inspections; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: integration_configs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.integration_configs (config_id, council_id, name, type, status, last_sync_at, description, details, created_at) FROM stdin;
\.


--
-- Data for Name: invoice_lines; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.invoice_lines (line_id, council_id, invoice_id, description, quantity, unit_price, line_total) FROM stdin;
\.


--
-- Data for Name: invoices; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.invoices (invoice_id, council_id, account_id, invoice_no, total_amount, currency, status, issued_at, due_at, created_at) FROM stdin;
\.


--
-- Data for Name: licence_renewals; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.licence_renewals (renewal_id, council_id, licence_id, request_id, previous_expiry_date, new_expiry_date, renewed_at) FROM stdin;
\.


--
-- Data for Name: licences; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: license_type_fees; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: license_types; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: location_levels; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.location_levels (id, council_id, name, level, description, created_at) FROM stdin;
961a7c5f-b919-48c0-a197-aaf610fc877b	3c4d4a9f-92a7-4dd2-82fb-ceff0d9880e3	Section	3	Land Section	2026-01-15 04:53:42.188304
5c926b8f-2d83-4ebd-89ed-0fd5cd0a5d53	3c4d4a9f-92a7-4dd2-82fb-ceff0d9880e3	Lot	4	Land Lot	2026-01-15 04:53:42.206812
\.


--
-- Data for Name: locations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: markets; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: notices; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.notices (notice_id, council_id, case_id, notice_no, notice_type, issued_date, compliance_due, details, status, created_at) FROM stdin;
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: otp_verifications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.otp_verifications (id, identifier, code, type, expires_at, verified, created_at) FROM stdin;
\.


--
-- Data for Name: payment_allocations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.payment_allocations (allocation_id, council_id, payment_id, invoice_id, allocated_amount) FROM stdin;
\.


--
-- Data for Name: payments; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: properties; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: purchase_order_lines; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.purchase_order_lines (line_id, order_id, description, quantity, unit_price, line_total) FROM stdin;
\.


--
-- Data for Name: purchase_orders; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.purchase_orders (order_id, council_id, vendor_id, requestor_id, order_date, expected_date, status, total_amount, currency, description, created_at) FROM stdin;
\.


--
-- Data for Name: rate_assessments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.rate_assessments (assessment_id, council_id, property_id, assessment_year, rateable_value, rate_amount, status, created_at) FROM stdin;
\.


--
-- Data for Name: role_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: service_requests; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: services; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: special_requirements; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: stalls; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: tenant_config; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_roles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: workflow_definitions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: workflow_instances; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: workflow_steps; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: __drizzle_migrations_id_seq; Type: SEQUENCE SET; Schema: drizzle; Owner: postgres
--

SELECT pg_catalog.setval('drizzle.__drizzle_migrations_id_seq', 1, false);


--
-- Name: __drizzle_migrations __drizzle_migrations_pkey; Type: CONSTRAINT; Schema: drizzle; Owner: postgres
--

ALTER TABLE ONLY drizzle.__drizzle_migrations
    ADD CONSTRAINT __drizzle_migrations_pkey PRIMARY KEY (id);


--
-- Name: accounts accounts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts
    ADD CONSTRAINT accounts_pkey PRIMARY KEY (account_id);


--
-- Name: assets assets_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assets
    ADD CONSTRAINT assets_pkey PRIMARY KEY (asset_id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (audit_id);


--
-- Name: business_verification_requests business_verification_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.business_verification_requests
    ADD CONSTRAINT business_verification_requests_pkey PRIMARY KEY (request_id);


--
-- Name: businesses businesses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.businesses
    ADD CONSTRAINT businesses_pkey PRIMARY KEY (business_id);


--
-- Name: checklist_requirements checklist_requirements_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.checklist_requirements
    ADD CONSTRAINT checklist_requirements_pkey PRIMARY KEY (id);


--
-- Name: citizens citizens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.citizens
    ADD CONSTRAINT citizens_pkey PRIMARY KEY (citizen_id);


--
-- Name: complaint_updates complaint_updates_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.complaint_updates
    ADD CONSTRAINT complaint_updates_pkey PRIMARY KEY (update_id);


--
-- Name: complaints complaints_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.complaints
    ADD CONSTRAINT complaints_pkey PRIMARY KEY (complaint_id);


--
-- Name: council_units council_units_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.council_units
    ADD CONSTRAINT council_units_pkey PRIMARY KEY (unit_id);


--
-- Name: councils councils_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.councils
    ADD CONSTRAINT councils_pkey PRIMARY KEY (council_id);


--
-- Name: documents documents_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_pkey PRIMARY KEY (document_id);


--
-- Name: dynamic_locations dynamic_locations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dynamic_locations
    ADD CONSTRAINT dynamic_locations_pkey PRIMARY KEY (location_id);


--
-- Name: enforcement_cases enforcement_cases_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.enforcement_cases
    ADD CONSTRAINT enforcement_cases_pkey PRIMARY KEY (case_id);


--
-- Name: fee_schedules fee_schedules_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fee_schedules
    ADD CONSTRAINT fee_schedules_pkey PRIMARY KEY (fee_id);


--
-- Name: inspection_evidence inspection_evidence_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inspection_evidence
    ADD CONSTRAINT inspection_evidence_pkey PRIMARY KEY (evidence_id);


--
-- Name: inspection_findings inspection_findings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inspection_findings
    ADD CONSTRAINT inspection_findings_pkey PRIMARY KEY (finding_id);


--
-- Name: inspections inspections_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inspections
    ADD CONSTRAINT inspections_pkey PRIMARY KEY (inspection_id);


--
-- Name: integration_configs integration_configs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.integration_configs
    ADD CONSTRAINT integration_configs_pkey PRIMARY KEY (config_id);


--
-- Name: invoice_lines invoice_lines_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoice_lines
    ADD CONSTRAINT invoice_lines_pkey PRIMARY KEY (line_id);


--
-- Name: invoices invoices_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_pkey PRIMARY KEY (invoice_id);


--
-- Name: licence_renewals licence_renewals_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.licence_renewals
    ADD CONSTRAINT licence_renewals_pkey PRIMARY KEY (renewal_id);


--
-- Name: licences licences_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.licences
    ADD CONSTRAINT licences_pkey PRIMARY KEY (licence_id);


--
-- Name: license_type_fees license_type_fees_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.license_type_fees
    ADD CONSTRAINT license_type_fees_pkey PRIMARY KEY (id);


--
-- Name: license_types license_types_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.license_types
    ADD CONSTRAINT license_types_pkey PRIMARY KEY (id);


--
-- Name: location_levels location_levels_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.location_levels
    ADD CONSTRAINT location_levels_pkey PRIMARY KEY (id);


--
-- Name: locations locations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.locations
    ADD CONSTRAINT locations_pkey PRIMARY KEY (id);


--
-- Name: markets markets_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.markets
    ADD CONSTRAINT markets_pkey PRIMARY KEY (market_id);


--
-- Name: notices notices_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notices
    ADD CONSTRAINT notices_pkey PRIMARY KEY (notice_id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (notification_id);


--
-- Name: otp_verifications otp_verifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.otp_verifications
    ADD CONSTRAINT otp_verifications_pkey PRIMARY KEY (id);


--
-- Name: payment_allocations payment_allocations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payment_allocations
    ADD CONSTRAINT payment_allocations_pkey PRIMARY KEY (allocation_id);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (payment_id);


--
-- Name: permissions permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT permissions_pkey PRIMARY KEY (permission_code);


--
-- Name: properties properties_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.properties
    ADD CONSTRAINT properties_pkey PRIMARY KEY (property_id);


--
-- Name: purchase_order_lines purchase_order_lines_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_order_lines
    ADD CONSTRAINT purchase_order_lines_pkey PRIMARY KEY (line_id);


--
-- Name: purchase_orders purchase_orders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT purchase_orders_pkey PRIMARY KEY (order_id);


--
-- Name: rate_assessments rate_assessments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rate_assessments
    ADD CONSTRAINT rate_assessments_pkey PRIMARY KEY (assessment_id);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (role_id);


--
-- Name: service_requests service_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.service_requests
    ADD CONSTRAINT service_requests_pkey PRIMARY KEY (request_id);


--
-- Name: services services_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.services
    ADD CONSTRAINT services_pkey PRIMARY KEY (service_id);


--
-- Name: special_requirements special_requirements_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.special_requirements
    ADD CONSTRAINT special_requirements_pkey PRIMARY KEY (id);


--
-- Name: stalls stalls_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stalls
    ADD CONSTRAINT stalls_pkey PRIMARY KEY (stall_id);


--
-- Name: tenant_config tenant_config_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tenant_config
    ADD CONSTRAINT tenant_config_pkey PRIMARY KEY (config_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: workflow_definitions workflow_definitions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workflow_definitions
    ADD CONSTRAINT workflow_definitions_pkey PRIMARY KEY (workflow_id);


--
-- Name: workflow_instances workflow_instances_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workflow_instances
    ADD CONSTRAINT workflow_instances_pkey PRIMARY KEY (instance_id);


--
-- Name: workflow_steps workflow_steps_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workflow_steps
    ADD CONSTRAINT workflow_steps_pkey PRIMARY KEY (step_id);


--
-- Name: dynamic_locations dynamic_locations_council_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dynamic_locations
    ADD CONSTRAINT dynamic_locations_council_id_fkey FOREIGN KEY (council_id) REFERENCES public.councils(council_id) ON DELETE CASCADE;


--
-- Name: tenant_config tenant_config_council_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tenant_config
    ADD CONSTRAINT tenant_config_council_id_fkey FOREIGN KEY (council_id) REFERENCES public.councils(council_id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict l1nA2DlIkwFiudb2j1ev6KCMgeCed9vs3avay6plJ9Jfh2DUazie5ZwqDI8fooI

